<div id="placeholder"></div>
<div class="title" id="login_title">
  <h1>Logistic System</h1>
  <h2>Welcome</h2>
</div>
<div id="login_content">
  <%= error_message_div %>
  <%= warning_message_div %>
  <%= info_message_div %>
  <%= form_tag('', onsubmit: 'loginOnSubmit();') do %>
      <fieldset>
        <legend>Admin Login</legend>
        <div>
          <label for="input_username">username：</label>
          <input id="input_username" type="text" name="username" value="<%= $admin_username %>" required />
        </div>
        <div>
          <label for="input_password">password：</label>
          <input id="input_password" type="password" name="password" autofocus required />
        </div>
      </fieldset>
      <div class="form_footer">
        <fieldset>
          <input id="input_submit" type="submit" value="Login" />
        </fieldset>
      </div>
  <% end %>
</div>
