<!DOCTYPE html>
<html <%= "id=\"#{ action_name }\"".html_safe %><%= yield(:html_attr) %>>
  <head <%= "id=\"#{ action_name }\"".html_safe %><%= yield(:head_attr) %>>
    <title>FYP</title>
    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true) %>
    <%= javascript_include_tag('application', 'data-turbolinks-track' => true) %>
    <%= csrf_meta_tags %>
    <%= yield(:head_content) %>
  </head>
  <body <%= "id=\"#{ action_name }\"".html_safe %><%= yield(:body_attr) %>>
    <%= yield %>
  </body>
  <script>
    <%= yield(:script_content) %>
  </script>
</html>
